@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .footer-header {
    @apply font-sans;
    @apply font-medium;
    @apply mb-10;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .tech-section {
    @apply grid;
    @apply grid-cols-1;
    @apply sm:grid-cols-2;
    @apply md:grid-cols-3;
    @apply gap-10;
    @apply pt-5;
    @apply border-t-2;
    @apply border-solid;
    @apply border-white;
    @apply border-opacity-20;
    @apply pb-10;
  }

  .sub-link {
    @apply p-5;
    @apply text-black;
    @apply hover:bg-accent2;
    @apply hover:bg-opacity-25;
    @apply transition;
    @apply duration-200;
  }

  .form-label {
    @apply font-sans;
    @apply font-semibold;
    @apply text-base;
  }

  .input {
    @apply w-full;
    @apply lg:w-1/3;
    @apply p-2;
    @apply font-mono;
    @apply focus:outline-none;
    @apply focus:ring;
    @apply focus:ring-accent;
    @apply placeholder-opacity-60;
  }

  .input-section {
    @apply my-5;
    @apply lg:my-8;
    @apply w-full;
  }
}

html {
  scroll-behavior: smooth;
  width: 100%;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
